<template>
  <b-modal
    class="details-modal mb-4"
    size="lg"
    centered
    @click="$bvModal.hide('detailModal')"
    id="detailModal"
    title="Details"
  >
    <div class="details-wrapper">
      <img v-if="attributes.posterImage != undefined" :src="attributes.posterImage.medium" class="poster-img d-block" alt="Poster Image" />
      <div class="info">
        <p>
          <span>Title</span>
          <span>{{ attributes.canonicalTitle }}</span>
        </p>
        <p>
          <span>Rating</span>
          <span>{{ attributes.averageRating }}</span>
        </p>
        <p>
          <span>Start Date:</span>
          <span>{{ attributes.startDate }}</span>
        </p>
        <p>
          <span>End Date:</span>
          <span>{{ attributes.endDate }}</span>
        </p>
        <p>
          <span>Age Rating:</span>
          <span>{{ attributes.ageRatingGuide }}</span>
        </p>
        <p class="mt-3 text-muted font-weight-bold">Synopsis</p>
        <p class="text-muted">{{ attributes.synopsis }}</p>
      </div>
    </div>
    <div slot="modal-footer">
      <button class="btn btn-default" @click="$bvModal.hide('detailModal')">
        Close
      </button>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "DetailsModal",
  data() {
    return {};
  },
  props: {
    attributes: { type: Object, required: true },
  },
  methods: {},
};
</script>

<style lang="scss">
.poster-img {
    margin: auto;
    width: 100%;
    max-width: 600px;
    background: #eee;
}
.info {
  padding-top: 42px;
  font-family: "Nunito", sans-serif;

  p {
    margin-bottom: 10px;
    text-transform: capitalize;
    display: flex;

    span {
      &:first-child {
        font-weight: bold;
        min-width: 111px;
        margin-right: 10px;
        font-size: 15px;
        display: inline-block;
        color: #777;
      }
    }
  }
}
</style>
