<template>
  <section class="container-fluid">
    <div class="sections-nav d-flex mt-4 justify-content-center">
      <p
        class="mr-5"
        :class="{ active: showJokes }"
        @click="
          showJokes = true;
          showAnime = false;
        "
      >
        Jokes
      </p>
      <p
        :class="{ active: showAnime }"
        @click="
          showJokes = false;
          showAnime = true;
        "
      >
        Media
      </p>
    </div>
    <Jokes v-show="showJokes"/>
    <Anime v-show="showAnime"/>
  </section>
</template>

<script>
// @ is an alias to /src
import Jokes from "@/components/Jokes";
import Anime from "@/components/Anime";

export default {
  name: "Home",
  data() {
    return {
      jokes: [],
      animeData: [],
      showJokes: false,
      showAnime: true,
    };
  },
  components: {
    Jokes,
    Anime
  },
  methods: {
  }
};
</script>

<style lang="scss" scoped>
.sections-nav {
  font-size: 18px;

  p {
    cursor: pointer;
  }

  .active {
    font-weight: bold;
    border-bottom: 2px solid #ff0099;
  }
}
</style>
