<template>
  <section class="auth-wrapper">
    <article class="auth-form card">
      <div class="card-body">
        <p class="hello">Log in to get started</p>
        <form action>
          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              name="email"
              class="form-control"
              id="email"
              v-model="emailAddress"
              v-validate="'required|email'"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              @input="allowLogin()"
            />
            <span class="input-errors text-danger small">{{
              errors.first("email")
            }}</span>
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              class="form-control"
              autocomplete="current-password"
              id="password"
              placeholder="Password"
              v-model="password"
              v-validate="'required'"
              @input="allowLogin()"
              @keyup.enter="allowLogin()"
            />
            <span class="input-errors text-danger small">{{
              errors.first("password")
            }}</span>
          </div>
          <button
            type="button"
            class="btn btn-primary mb-4"
            @click="login()"
            :disabled="invalidInfo"
            :class="{ notAllowed: invalidInfo }"
          >
            Login
          </button>
          <router-link
            :to="{ name: 'Register' }"
            class="btn sign-up have-account mb-3"
          >
            Don’t Have an Account?
            <b>Sign Up</b>
          </router-link>
        </form>
      </div>
    </article>
  </section>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Login",
  components: {},
  data() {
    return {
      emailAddress: "",
      password: "",
      invalidInfo: true,
    };
  },
  methods: {
    init() {},

    login() {
      let loader = this.$loading.show();
      this.$store
        .dispatch("auth/login", {
          email: this.emailAddress,
          password: this.password,
        })
        .then((response) => {
          loader.hide();
          console.log(response);
          this.$router.push({
            name: "Home",
          });
        })
        .catch((error) => {
          loader.hide();
          console.log(error);
          this.$bvToast.toast("Invalid email or password", {
            title: "Error",
            autoHideDelay: 4000,
            variant: "danger",
            solid: true,
          });
        });
    },

    allowLogin() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.invalidInfo = false;
        } else {
          this.invalidInfo = true;
        }
      });
    },
  },

  mounted() {
    this.init();
  },
};
</script>
<style lang="scss" scoped></style>
