<template>
  <section class="auth-wrapper">
    <article class="auth-form card">
    <form action>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input
          type="text"
          name="full_name"
          class="form-control"
          id="full_name"
          placeholder="Your full name"
          v-model="fullName"
          v-validate="'required'"
          @input="allowRegister()"
        />
        <span class="input-errors text-danger small">{{
          errors.first("full_name")
        }}</span>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input
          type="email"
          name="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          v-model="emailAddress"
          v-validate="'required|email'"
          @input="allowRegister()"
        />
        <span class="input-errors text-danger small">{{
          errors.first("email")
        }}</span>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          class="form-control"
          v-model="password"
          v-validate="'required|min:8'"
          ref="password"
          id="password"
          placeholder="Password"
          @input="allowRegister()"
        />
        <span class="input-errors text-danger small">{{
          errors.first("password")
        }}</span>
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input
          type="password"
          name="confirm password"
          class="form-control"
          id="confirm_password"
          placeholder="Confirm Password"
          v-model="confirmPassword"
          v-validate="'required|confirmed:password'"
          @input="allowRegister()"
        />
        <span class="input-errors text-danger small">{{
          errors.first("confirm password")
        }}</span>
      </div>
      <button
        type="button"
        class="btn btn-primary mb-4"
        @click="signUp()"
        :disabled="invalidInfo"
        :class="{ notAllowed: invalidInfo }"
      >
        Sign Up
      </button>
      <router-link :to="{ name: 'Login' }" class="btn sign-up have-account mb-3"
        >Already Have an Account? <b>Sign In</b></router-link
      >
    </form>
  </article>
  </section>
</template>

<script>
// @ is an alias to /src

export default {
  name: "Register",
  components: {},
  data() {
    return {
      emailAddress: "",
      password: "",
      confirmPassword: "",
      fullName: "",
      invalidInfo: true,
    };
  },
  methods: {
    signUp() {
      let loader = this.$loading.show();
      this.$store
        .dispatch("auth/register", {
          full_name: this.fullName,
          email: this.emailAddress,
          password: this.password,
          password_confirmation: this.confirmPassword,
        })
        .then((response) => {
          console.log(response);
          loader.hide();
          this.$bvToast.toast("Registration Successful! Redirect to Login..", {
            title: "Success",
            autoHideDelay: 4000,
            variant: "success",
            solid: true,
          });
          this.$router.push({
            name: "Login"
          });
        })
        .catch((error) => {
          loader.hide();
          console.log(error.response);
          this.$bvToast.toast("Regigration Failed", {
            title: "Error",
            autoHideDelay: 4000,
            variant: "danger",
            solid: true,
          });
        });
    },

    allowRegister() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.invalidInfo = false;
        } else {
          this.invalidInfo = true;
        }
      });
    },
  },

  mounted() {},
};
</script>
