<template>
  <div>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
      <article>
        <h3 class="text-capitalize">{{ comicType }}</h3>
        <span class="small text-muted">This isn't even my final form</span>
      </article>
      <button class="btn btn-light" @click="changeComicType()">
        Get {{ comicType === "anime" ? "Manga" : "Anime" }}
      </button>
    </div>
    <b-input-group class="search mb-3">
      <b-form-input
        v-model="searchTerm"
        @keydown="search"
        type="text"
        placeholder="Search"
      ></b-form-input>
      <b-input-group-append>
        <b-button
          variant="light"
          class="clear-btn"
          @click="
            searchTerm = '';
            getAnime();
          "
          ><b-icon icon="x"
        /></b-button>
      </b-input-group-append>
    </b-input-group>
    <section class="d-flex flex-wrap">
      <article
        class="card item mb-5 mr-3"
        v-for="(anime, a) in animeArray"
        :key="a"
        @click="
          selectedMedia = anime.attributes;
          showDetails();
        "
      >
        <img
          :src="anime.attributes.posterImage.tiny"
          class="card-img-top"
          alt="Media Image"
        />
        <div class="card-body">
          <h5 class="card-title">{{ anime.attributes.canonicalTitle }}</h5>
          <p class="card-text">
            {{ anime.attributes.synopsis }}
          </p>
          <a href="#" class="btn btn-light">View Details</a>
        </div>
      </article>
    </section>
    <DetailsModal :attributes="selectedMedia" />
    <b-pagination
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      aria-controls="conv"
      align="center"
      @input="getAnime()"
    ></b-pagination>
  </div>
</template>

<script>
import axios from "./../axios.config";
import DetailsModal from "@/components/modals/DetailsModal";

var debounce = require("lodash.debounce");

export default {
  name: "Home",
  data() {
    return {
      animeArray: [],
      comicType: "anime",
      currentPage: 1,
      totalRows: 1,
      perPage: 18,
      selectedMedia: {},
      searchTerm: "",
    };
  },
  components: {
    DetailsModal,
  },
  methods: {
    getAnime() {
      let loader = this.$loading.show();
      let offset = (this.currentPage - 1) * this.perPage;
      let url = "";

      if (this.searchTerm !== "") {
        url = `https://kitsu.io/api/edge/${this.comicType}?filter%5Btext%5D=${this.searchTerm}&page%5Blimit%5D=${this.perPage}&page%5Boffset%5D=${offset}`;
      } else {
        url = `https://kitsu.io/api/edge/${this.comicType}?page%5Blimit%5D=${this.perPage}&page%5Boffset%5D=${offset}`;
      }

      axios
        .get(url)
        .then((response) => {
          console.log(response);
          this.animeArray = response.data.data;
          this.totalRows = response.data.meta.count;
          loader.hide();
        })
        .catch((error) => {
          console.log(error);
          loader.hide();
        });
    },

    changeComicType() {
      this.comicType === "anime"
        ? (this.comicType = "manga")
        : (this.comicType = "anime");
      this.getAnime();
    },

    search: debounce(function() {
      if (this.searchTerm.length > 2) {
        this.getAnime();
      }
    }, 1000),

    showDetails() {
      this.$bvModal.show("detailModal");
    },
  },
  mounted() {
    this.getAnime();
  },
};
</script>
<style lang="scss" scoped>
.search {
  width: 300px;

  .clear-btn {
    border: 1px solid #ced4da;
    color: #777;
  }
}

.item {
  width: 45%;
  max-width: 232px;
  cursor: pointer;
  box-shadow: 3px 7px 9px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  .card-img,
  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-body {
    padding: 7px;

    .card-text {
      height: 44px;
      overflow: hidden;
      font-size: 14px;
    }

    .card-title {
      overflow: hidden;
      height: 50px;
    }
  }
}
</style>
