<template>
  <div>
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
      <section>
        <h3>Jokes</h3>
        <span class="small text-muted"
          >A joke a day keeps the doctor away :-)</span
        >
      </section>
      <button class="btn btn-light" @click="getJokes()">Refresh</button>
    </div>
    <article class="card mb-2" v-for="(joke, j) in jokes" :key="j">
      <div class="card-body">
        <p class="text-muted">{{ joke.setup }}</p>
        <p>{{ joke.punchline }}</p>
      </div>
    </article>
  </div>
</template>

<script>
import axios from "./../axios.config";

export default {
  name: "Home",
  data() {
    return {
      jokes: [],
    };
  },
  components: {
    //Loading,
  },
  methods: {
    getJokes() {
      let loader = this.$loading.show();
      axios
        .post("/api/jokes")
        .then((response) => {
          this.jokes = response.data;
          loader.hide();
        })
        .catch((error) => {
          console.log(error);
          loader.hide();
        });
    },
  },
  mounted() {
    this.getJokes();
  },
};
</script>
<style lang="scss" scoped></style>
