<template>
  <div id="app">
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto" v-if="$store.state.auth.token === null">
          <b-nav-item to="/login">Login</b-nav-item>
          <b-nav-item to="/register">Register</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto" v-if="$store.state.auth.token !== null">
          <b-nav-item @click="logout">Logout</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view />
  </div>
</template>
<script>
export default {
  methods: {
    logout() {
      let loader = this.$loading.show();
      this.$store
        .dispatch("auth/logout")
        .then((response) => {
          console.log(response);
          loader.hide();
          this.$router.push({
            name: "Login",
          });
        })
        .catch((error) => {
          console.log(error);
          loader.hide();
          this.$bvToast.toast("Logout Failed", {
            title: "Error",
            autoHideDelay: 4000,
            variant: "danger",
            solid: true,
          });
        });
    },
  },
};
</script>
<style lang="scss">
html,
body {
  background: rgba(238, 238, 238, 0.3);
}
@import "./assets/styles/app.scss";
</style>
