.auth-wrapper {
  background: url("./assets/images/auth-bkg.png");
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;

  .auth-form {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 350px;
    width: 85%;
    min-width: 250px;
    height: 522px;
    box-shadow: 3px 7px 9px -1px rgba(0, 0, 0, 0.12);
    padding: 15px;
  }
}
